body { 
    background-color: lightcyan;
}
.trying{
    background-image: url(~achtergrondmog1.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
.space {
    background-color: #808080;
    font-size: 35px;
    color: white;
    height: 150px;
}

#logo {
    position: absolute;
    height: 80px;
    align-items: center;
}

.button {
    top: 80px;
    background-color: #1E90FF;
    color: white;
    position: absolute;
    height: 50px;
}

nav .button{
    top: 75px;
    font-size: 15px;
    color: black;
    text-align: center;
    display: inline-block;
}

#kalenderButton{
    left: 250px;
    /* width: 150px; */
}

#OverzichtButton{
    left: 500px;
    /* width: 150px; */
}

#HelpButton{
    right: 250px;
}

#InstellingenButton{
    right: 150px;
    /* width: 250px; */
    top: 25px;
    position:absolute;
    /* border-radius: 25px; */
    background-color: #87CEFA;
    height: 35px;
    width: 75px;

    
}

#logoutButton{
    right: 50px;
    /* width: 250px; */
    top: 25px;
    position:absolute;
    /* border-radius: 25px; */
    background-color: #87CEFA;
    height: 35px; 
    width: 75px;
}

#AddPersonButton{
    right: 500px;
    width: 200px;
}

#calendar {
    background-color: white;
    top: 50px;
    position: relative;
    /* height: 250px; */
    width: 1250px;
    left: 100px;
    right: 100px;
}

.form-container{
    /* position: center; */
    position: absolute;
    background-color: white;
    left: 600px;
    top: 250px;
    overflow: hidden;
    z-index: 999;
    background-color: lightskyblue;
    padding: 10px;
    border: 5px solid blue;
}

#personaddbutton{
    right: 400px;
    width: 200px;

}

#cancelEventButtonPopup{
    width: 280px;
    height: 42px;
}

#AddEventButton{
    left: 475px;
    width: 200px;
    
}

#ListAddedPersons{
    right: 325px;
}