body {
    text-align: center;
}

.space{
    margin: auto;
    margin-top: 50px;
    margin-bottom: 80px;
    width: 475px;
    height: 500px;
    background-color: lightblue;
}

.login{ 
    text-align: left;
    margin-left: 10px;
}

.button{
    height: 75px;
    width: 250px;
    position: relative;
    bottom: -100px;
    border-radius: 25px;
    align-items: center;
    right: 65px;
}

#alreadyAccount {
    position: relative;
    bottom: -150px;
    text-align: center;
    right: 92px;
}