/* body {
    text-align: center;
} 

 .space{
    margin: auto;
    margin-top: 50px;
    margin-bottom: 80px;
    width: 475px;
    height: 580px;
    background-color: #808080;
}

.acc-creation{ 
    text-align: left;
    margin-left: 10px;
}

.button{
    height: 75px;
    width: 250px;
    position: relative;
    bottom: -50px;
    border-radius: 25px;
    align-items: center;
}

#alreadyAccount {
    position: relative;
    bottom: -150px;
    text-align: center;
    right: 92px;
} */