body {
    text-align: center;
    color: white;
}



.trying {
    background-image: url(achtergrondmog1.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 80px;
    width: 475px;
    height: 500px;
}